# Telegram Bot
python-telegram-bot==21.3

# Supabase
supabase==2.9.1


# Environment & config
python-dotenv==1.0.1
pydantic==2.6.0
pydantic-settings==2.2.0

# Timezone
pytz==2024.1

# Async file I/O
aiofiles==23.2.1
